.name-text {
    -fx-font-family: OpenSans;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-font-stretch: normal ;
    -fx-text-fill: #1b2943;
}

.role-text {
    -fx-font-family: OpenSans;
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-font-stretch: normal ;
    -fx-text-fill: #babec7;
}

.labl-text {
    -fx-font-family: OpenSans;
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-font-stretch: normal ;
    -fx-text-fill: #1b2943;
}

.delete_button{
    -fx-background-color: #fa9f47;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: OpenSans;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 24px; 
}
.delete_button:hover{
    -fx-background-color: #fa8733;
}
.delete_button:pressed{
   -fx-background-color: #ffb066; 
}

.card_right_container {

    -fx-background-color: #ffffff ; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 0, 2, 5, 0);

}

.image_profil {
    -fx-padding: 10; 
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5; 
    -fx-border-radius: 50; 
    -fx-border-color: blue;
}

.labl_update{
    -fx-font-family: OpenSans;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-stretch: normal;
    -fx-line-height: 1.2 ; 
    -fx-text-fill: #1b2943;
}

.update-text-field {
    -fx-background-radius: 24px;
    -fx-background-color: #ecfbf4;
    -fx-font-family: OpenSans;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-stretch: normal;
    -fx-line-height: 1.2 ; 
    -fx-text-fill: #00a5a7;
}

.update-button{

    -fx-pref-tile-width:  128px;
    -fx-pref-tile-height: 48px;
    -fx-background-radius:  24px;
    -fx-background-color:  #ff637b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: OpenSans;
    -fx-text-fill: #ffffff;

}

.update-button:hover{
    -fx-background-color: #c62828;
}

.update-button:pressed{
    -fx-background-color:  #e95858;
}

.title{
    fx-font-family: OpenSans;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-font-stretch: normal;
    -fx-line-height: 1.2 ; 
    -fx-text-fill: #1b2943;
}

.profile{
    -fx-background-radius: 50; 
}


.add_button{
    -fx-background-color: #00b5b8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: OpenSans;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 24px; 
}

.add_button:hover{
    -fx-background-color:#59b262;
}

.add_button:pressed{
    -fx-background-color: #96d496;
}