.AnchorPane {

    -fx-background-color: #ffffff ; 
}
.Toppanel{

    -fx-background-color: #fdbd39;
}



.button_connect {
    -fx-background-color: #fdbd39; 
    -fx-background-radius: 40px; 
    -fx-font-family: "Opensans" ;
    -fx-font-size : 24px ; 
    -fx-text-fill: #ffffff ;
}


.button_connect:hover {
    -fx-background-color: #ffffff; 
}

.txtfiled{
    -fx-font-family: "Opensans" ;
    -fx-font-size : 18px ; 
    -fx-text-fill : #7d899f;
}

.label_erreur{
    -fx-font-family: "Opensans" ;
    -fx-font-size : 18px ; 
    -fx-text-fill : #EE4035;
    -fx-text-alignment: center ;
}

.Background-main {
    -fx-background-image: url("background.jpg") ;
    -fx-background-opacity:0.2  ;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.username-text-field {
    -fx-background-color :#f6f7fb; 
    -fx-opacity: 0.7;
    -fx-font-family: "Roboto" ;
    -fx-font-size : 18px ; 
    -fx-text-fill : #7d7d8e;
    -fx-text-alignment: left ;
}

.connectez {
    -fx-opacity: 1;
    -fx-background-radius: 4px;
    -fx-background-color: #74c080;
    -fx-font-family: "Roboto" ;
    -fx-font-size : 24px ; 
    -fx-text-fill : #f6f7fb;
    -fx-text-alignment: center ;
}

.welecome {
    -fx-font-family: Roboto;
    -fx-font-size: 30px;
    -fx-font-weight: bold ; 
    -fx-text-fill : #ffffff;
}

.message {
    -fx-font-family: Roboto;
    -fx-font-size: 18px;
    -fx-font-weight: normal; 
    -fx-text-fill : #ffffff;
}

.logo {
   
   -fx-background-radius: 60;
}