/Gestion-Commercial/dist/
/Gestion-Commercial/build/
/Gestion-Commercial_1/nbproject/private/
/Gestion-Commercial_2/nbproject/private/
/Gestion-Commercial_2/build/
/Gestion-Commercial_2/dist/
/Gestion-Commercial_3/nbproject/private/