.button-menu{
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-font-stretch: normal;
    -fx-line-height: normal;
    -fx-letter-spacing: normal;
    -fx-text-align: left;
    -fx-text-fill: #90a4ae;
    -fx-background-color: #ffffff;
}

.button-menu:hover{
    
    -fx-text-fill: #fd9252;
    -fx-background-color:  #cbcbd2;
}


.button-menu:selected{
    
    -fx-text-fill: #fd9252;
    -fx-background-color: #f4f8f9;
}