.topbar{
    -fx-background-color : #00b5b8 ; 
}

.search-input{
    -fx-background-color : #40c7ca ; 
    -fx-background-radius: 24px; 
}

.Search {
    -fx-font-family: OpenSans;
    -fx-font-size: 14px;
    -fx-font-style : normale ;
    -fx-text-fill:  #ffffff ; 
}

.layer {
    -fx-background-color : #ff637b ; 
    -fx-background-radius: 1px; 
    -fx-font-family: OpenSans;
    -fx-font-size: 8px;
    -fx-font-style : normale ;
    -fx-text-fill: #fffcfc; 
}

.Admin {

    -fx-font-family: OpenSans;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
}

.full-name{
    -fx-font-family: OpenSans;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
}

.txt-menu_button{
    -fx-font-family: OpenSans;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill : #babec7;
   
}

.txt-menu_button:hover{
    -fx-font-family: OpenSans;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill : #00b5b8;
    -fx-background-color :  #7d7d8e ; 
}

.txt-menu_button:pressed{
        -fx-background-color :  #e7e7ec;
}

USERS-LIST {
    -fx-font-family: OpenSans;
    -fx-font-size: 24px;
    -font-weight: normal ; 
    -fx-text-fill : #1b2943;
}

.add_button{
    -fx-background-color: #00b5b8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: OpenSans;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 24px; 
}

.add_button:hover{
    -fx-background-color:#59b262;
}

.add_button:pressed{
    -fx-background-color: #96d496;
}

.anchorpane{
    -fx-background-color: #ffffff ; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 0, 2, 5, 0);
}


.Background-main {

    -fx-background-image: url("background_image.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-opacity:0.2  ;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 

}

.delete-button{

    -fx-pref-tile-width:  128px;
    -fx-pref-tile-height: 48px;
    -fx-background-radius:  24px;
    -fx-background-color:  #ff637b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: OpenSans;
    -fx-text-fill: #ffffff;

}

.delete-button:hover{
    -fx-background-color: #c62828;
}

.delete-button:pressed{
    -fx-background-color:  #e95858;
}